@model Contact

@{
    ViewData["Title"] = "Delete Contact";
}
<h2>Delete Contact</h2>
<p>Do you want to delete <b>@Model.FirstName @Model.LastName</b>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ContactId" />

    <button type="submit" class="btn btn-primary">
        Yes
    </button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">No</a>

</form>

